[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/rem821/imgui
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/rem821/fmt
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/rem821/glm
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/rem821/tinyobjloader
[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/rem821/SDL
