[submodule "vulkan-engine/libs/imgui"]
	path = vulkan-engine/libs/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vulkan-engine/libs/glm"]
	path = vulkan-engine/libs/glm
	url = https://github.com/g-truc/glm
[submodule "vulkan-engine/tinyobjloader"]
	path = vulkan-engine/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vulkan-engine/libs/sqlitecpp"]
	path = vulkan-engine/libs/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "vulkan-engine/libs/spdlog"]
	path = vulkan-engine/libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vulkan-engine/libs/tinyobjloader"]
	path = vulkan-engine/libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vulkan-engine/libs/thread-pool"]
	path = vulkan-engine/libs/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "vulkan-engine/libs/glfw"]
	path = vulkan-engine/libs/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
